body {
    background-image: url("Images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    min-width: 320px;
    max-width: 1405px;
    margin: 0 auto;
    padding: 0 3% 1.875em;
}
@media only screen and (max-width: 800px) {
    .date {
        display: none;
    }
}
.headerdiv button {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    margin-bottom: 20px;
}
.headerdiv button:hover {
    background-color: #ad6500;
}
#homeBtn {
    background-color: #AD6500;
}
.date {
    color: #ffffff66;
    margin: 1px 1px 1px 1px;
    padding: 0 10px;
}
.newlink {
    color:rgb(195, 199, 202);
    text-decoration: none;
}
.newlink:hover {
    color: #ad6500;
}
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131 53 2);
    margin-bottom: 20px;
    font-size: 24px;
    padding: 25px;
    color: white;
}
input {
    position: relative;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    font: inherit;
    color: #fff;
    width: 97%;
    padding: 0 4px;
    border-radius: 0;
    text-align: center;
}
input:focus {
    background-color: #d6976d;
    outline: none;
}
#settingsBtn {
    background-color: rgb(131 53 2);
    border: none;
    color: white;
    font-size: 21px;
}
#indexfeats {
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    margin-bottom: 20px;
    margin-right: auto;
    align-items: center;
    box-sizing: border-box;
    width: 60%;
    padding: 10px 30px;
    line-height: 1.4;
}
.filter-button {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    margin-bottom: 20px;
    margin-left: auto;
    align-items: center;
    box-sizing: border-box;
    width: 30%;
    padding: 10px 30px;
    line-height: 1.4;
}
.scndBtn:hover {
    background-color: #ad6500;
}
#indexfeats:hover {
    background-color: #ad6500;
}
.mainpart {
    color: #ffffffba;
    display: inline-block;
    padding: 0.5em 0em 0.6em 0;
    margin: 0 3px 0 0;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content > div {
    width: calc(33.3333% - 20px);
    margin-bottom: 22px;
}

.counting {
    color: #CFB78B;
    font-size: 16px;
}
.paragraf {
    font-size: 16px;
    margin: 16px 0;
    color: #ffffffba;
}
.mein {
    color: #EB8900;
    text-decoration: none;
    font-size: 16px;
}
.mein:hover {
    color: #fd0;
}
.span1 {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    padding-left: 4px;
    background-color: #1b4475;
}